<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="">
    <title>Music Box</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="header-wrapper">
                <a href="">
                    <img class="header-logo" src="./assets/img/logo.png" alt="logo">
                </a>
                <ul class="nav-list">
                    <li class="menu">
                        <a href="" class="link">Home</a>
                    </li>
                    <li class="menu">
                        <a href="" class="link">Episodes</a>
                    </li>
                    <li class="menu">
                        <a href="" class="link">About</a>
                    </li>
                    <li class="menu">
                        <a href="" class="link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <section class="main">
        <div class="container">
            <div class="main-info">
                <img src="./assets/img/image.png" alt="music-man">
                <div class="main-info-text">
                    <h1 class="title">Take your podcast to the <span class="word">next</span><span
                            class="level">level</span></h1>
                    <div class="music-app">
                        <p class="listen">Listen on</p>
                        <ul class="music-type">
                            <li class="logo-music">
                                <a href="https://open.spotify.com/">
                                    <img src="./assets/img/sptfy.png" alt="spotify">
                                </a>
                            </li>
                            <li class="logo-music">
                                <a href="https://music.youtube.com/">
                                    <img src="./assets/img/Group.png" alt="youtube-music">
                                </a>
                            </li>
                            <li class="logo-music">
                                <a href="https://soundcloud.com/">
                                    <img src="./assets/img/SoundCloud.png" alt="SoundCloud">
                                </a>
                            </li>
                            <li class="logo-music">
                                <a href="https://music.apple.com/it/new">
                                    <img src="./assets/img/AppMusic.png" alt="apple-music">
                                </a>
                            </li>
                            <li class="logo-music">
                                <a href="https://www.deezer.com/it/">
                                    <img src="./assets/img/Radio.png" alt="deezer">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>